@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* share style  */
    .display-flex{
        display: flex; 

    }
    /* dark-02 */
    .text-gray{
        color: rgb(66, 66, 66);
    }

    /*dark-03  */
    .text-light-gray{
        color: rgb(114, 114, 114);
    }

    .bg-light{
        background-color: rgba(255, 144, 14, 0.1);
    }

    .btn-primary{
        background-color:  rgb(255, 144, 14);
        color: white;
        padding: 20px 25px;
        font-size: 1.25rem;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        margin-top: 20px;
    }
    .text-primary{
        color:rgb(255, 144, 14);
    }
    main{
        max-width: 1000px;
        margin: 0 auto;
    }
    main > section{
        margin-top: 50px;
        margin-bottom: 50px;
    }
/* header style */



/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-item{
    list-style: none;
    margin-right: 40px;

}
.nav-links{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1000px;
    margin: 0 auto;
}


/* banner related style */
.banner-content{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
}

.banner-image{
    width: 100%;
    margin-bottom: 20px;
}

/* team styte  */
.team-img-container img{
    width: 220px;
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.section-title{
    font-size: 2.4rem;
    font-weight: 700;

}
#quick-list{
    font-weight: 500;
}
.our-features{
    margin-left: 100px;
    max-width: 530px;
}

/* some facts realeted styel */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
 }
 .fact-card{
    border: 1px solid rgb(255, 144, 14);
    width: 180px;
    height: 180px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 .fact-number{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
 }
 .fact-name{
    font-size: 1    rem;
    font-weight: 600;
    margin-top: 10;
 }

/* media query style */
@media screen and (max-width:576px) {
    .navbar ,
     .nav-links,
     .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1 ,1fr);
    }
    .our-features{
        margin-left: 10px;
        text-align: center;
    }
    .features-title{
        font-size: 1.5rem;
    }
}



/* media devise responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 10px auto ;
        
    }
    .features-title{
        font-size: 2rem;
    }
    .our-features{
        max-width: 400px;
    }
}