@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* share style  */
    .display-flex{
        display: flex; 

    }
    /* dark-02 */
    .text-gray{
        color: rgb(66, 66, 66);
    }

    /*dark-03  */
    .text-light-gray{
        color: rgb(114, 114, 114);
    }

    .bg-light{
        background-color: rgba(255, 144, 14, 0.1);
        width: 100%;
    }

    .btn-primary{
        background-color:  rgb(255, 144, 14);
        color: white;
        padding: 20px 25px;
        font-size: 1.25rem;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        margin-top: 20px;
    }
    .text-primary{
        color:rgb(255, 144, 14);
    }
    main{
        max-width: 1000px;
        margin: 0 auto;
    }
    main > section{
        margin-top: 50px;
        margin-bottom: 50px;
    }
/* header style */



/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-item{
    list-style: none;
    margin-right: 40px;

}
.nav-links{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1000px;
    margin: 0 auto;
}


/* banner related style */
.banner-content{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
}

.banner-image{
    width: 100%;
    margin-bottom: 20px;
}

/* team styte  */
.team-img-container img{
    width: 220px;
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.section-title{
    font-size: 2.4rem;
    font-weight: 700;

}
#quick-list{
    font-weight: 500;
}
.our-features{
    margin-left: 100px;
    max-width: 530px;
}
/* features section style start */
.features{
    gap: 60px;
}
#features-section-descript{
    width: 450px;
    font-size: 1rem;
}
#features-section-title{
    border-left: 5px solid rgb(255, 144, 14) ;
    padding-left: 10px;
}    
.features-card{
    width: 400px;
    padding: 10px;
    box-shadow:0 4px  30px  0 rgba(0, 0, 0, 0.06) ;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    border-radius: 8px;
}
.features-card > h4 , p {
    padding-left: 10px;
}
.features-card,.features-title{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.features-img {
    
    /* height: 800px; */
    /* border: 1px solid red; */
    
}
.features-img > img{
    width: 100%;
    margin-top: 100px;
}

#experience-badge{
    padding: 40px 35px;
    font-size: 1rem;
    font-weight: 500;
    margin-left: -50px;
    margin-top: -80px;
}

.experience-year{
    font-size: 2.5rem;
    font-weight: 700;
}


/* features section style end */

/* some facts realeted styel */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
 }
 .fact-card{
    border: 1px solid rgb(255, 144, 14);
    width: 180px;
    height: 180px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 .fact-number{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
 }
 .fact-name{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10;
 }
/* sponsor style */
 .our-responser{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;


 }
 .responser-info{
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    
 }
 .responser-img{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 100px;
     
 }
 .responser-img img{
    filter: grayscale(1);
    width: 100px;
 }
 
/* media query style */
@media screen and (max-width:576px) {
    .navbar ,
    .nav-links,
    .facts-container,
    .features,
    .teams{
        flex-direction: column;
    }
    .team-img-container,
    .responser-img, 
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container,
    .responser-img{   
        justify-items: center;
        gap: 10px;
    }

    .our-features{
        margin-left: 10px;
        text-align: center;
    }
    .features-title{
        font-size: 1.5rem;
    }
    .section-title, .text-light-gray {
        justify-items: center;
        text-align: center;
        
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 100px;
        
    }
    .features-img >img{
        
        /* margin-left: 30px; */
        
    }
    .bg-light{
        /* width: 100%; */
    }
    
    

}



/* media devise responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .brand{
        font-size: 1.3rem;
    }
    
    
    .features,
    .responser-img,
    .teams{
            flex-direction: column;
        }
    .responser-img,
    .facts-container{
        grid-template-columns: repeat( 2, 1fr);
        gap: 50px;
        
    }
    .facts-container{
        margin-left: 80px;
        /* margin-bottom: 20px; */
    }

    .facts-section{
        text-align: center
    }
    .our-features{
        
        margin: 10px auto ;
        
    }
    .features-title{
        font-size: 2rem;
    }
    .our-features{
        max-width: 400px;
    }


}